*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: black;

  background-color: #ffffff;
}

input,
textarea,
iframe {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.ul-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}


p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-red {
  display: flex;
  justify-content: center;

  padding: 11px 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;

  cursor: pointer;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.main-header {
  padding-bottom: 60px;
  margin-bottom: 60px;

  background-color: #f2f6f8;
}

/* Стилизация верхнего логотипа, поиска, закладки, корзина, кнопки "Оформить заказ" */
.top-block {
  background-color: #293449;
}

.top-block-wrap {
  position: relative;
  display: flex;
}

.header-logo {
  position: absolute;
  z-index: 1;
  width: 220px;
  height: 47px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  background-image: url(../img/logo-technomart.svg);
  background-repeat: no-repeat;
  background-size: 109px 19px;
  background-position: 50% 50%;

  cursor: pointer;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

/* Форма поиска */
.search {
  position: relative;
}

.search input {
  width: 270px;
  min-height: 42px;

  margin-left: 220px;
  padding-left: 47px;

  background-color: #293449;
}

.search svg {
  position: absolute;
  left: 237px;
  top: 12px;
  fill-opacity: 0.3;
}

.search:hover path {
  fill-opacity: 1;
}

.search:focus path {
  fill: #ee3643;
}

.top-block a,
.top-block input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  background-color: #ffffff;
}



/* Общая стилизация  */
.bookmarks,
.basket,
.btn-checkout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 151px;
  height: 42px;
}

/* Закладки */
.bookmarks-link {
  margin-left: 16px;
}

.bookmarks::before {
  position: absolute;
  width: 14px;
  height: 16px;
  left: 16px;
  opacity: 0.3;

  content: " ";
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
}

.bookmarks:hover {
  background-color: #212a3a;
}
.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active {
  background-color: #161d29;
  opacity: 0.6;
}

/* Корзина */
.basket-link {
  margin-left: 18px;
}

.basket::before {
  position: absolute;
  left: 18px;
  width: 15px;
  height: 15px;

  content: " ";
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks .basket:focus {
  background-color: #ee3643;
}

.basket:hover {
  background-color: #212a3a;
}
.basket:hover::before {
  opacity: 1;
}

.basket:active {
  background-color: #161d29;
  opacity: 0.6;
}



/* Кнопка оформления заказа */
.btn-checkout {
  background-color: #63a63e;
}

.btn-checkout:hover {
  background-color: #5fbb2d;
}

.btn-checkout:active {
  background-color: #518534;
  opacity: 0.5;
}

/* Описание в хедере h1 телефон, адрес, блок "Войти Регистрация" */
.header-middle {
  position: relative;
  display: flex;
  margin-bottom: 39px;
}

/* Заголовок  h1 описание магазина */
.description {
  width: 210px;
  margin-top: 50px;
  margin-left: 51px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;

  letter-spacing: normal;
}

/* Блок адрес и телефон */
.header-tel {
  position: relative;
  display: flex;

  width: 270px;
  min-height: 45px;

  margin-top: 46px;
  margin-left: 58px;
  margin-right: 73px;
  margin-bottom: 4px;

  border: solid 3px #ffffff;
}

.header-tel-link {

  margin-left: 73px;
  margin-top: 9px;


  font-size: 21px;
  font-weight: 400;
  color: #e9292a;
}

.header-tel::before {
  position: absolute;

  width: 18px;
  height: 19px;
  left: 15px;
  top: 11px;

  content: " ";
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
}

.header-address {
  margin-left: 70px;
}

.header-address p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}

/* Войти Регистрация */

.user-in {
  width: 282px;
  margin-top: 46px;
}

.user-in .login-link {
  position: relative;
  margin-right: 10px;
}

.login-link a,
.check-in-link a {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 45px;

  background-color: #ffffff;
}

.login-link a {
  width: 121px;
  padding-left: 19px;
}

.check-in-link a {
  width: 150px;
}

.user-in ul {
  display: flex;
}

.user-in li {
  font-size: 21px;
}

.login-link svg {
  position: absolute;
  background-position: 0 0;
  left: 13px;
  top: 15px;
}

.login-link:hover path {
  fill: #32425c;
}

.user-in a:hover {
  color: #ee3643;
}

.user-in a:active {
  opacity: 0.3;
  color: #000000;
}

/* Основная навигация */
.main-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 60px;
}

.main-menu a {
  display: block;

  padding: 22px 31px;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

.main-menu a:hover {
  background-color: #1d2739;
}

.main-menu a:active {
  opacity: 0.5;
}

/* Основная часть сайта */
.container,
.container-text {
  width: 940px;
  margin: 0 auto;
}

/* Секция Наши предложения */

.offers .top {
  display: flex;
  justify-content: space-between;
}

.our-offers li {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.our-offers p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  padding-top: 20px;
  padding-left: 21px;
}

.offers .icon-1 {
  position: absolute;
  width: 44px;
  height: 65px;

  right: 43px;
  top: 32px;

  content: "";
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.offers .icon-2 {
  position: absolute;
  width: 75px;
  height: 61px;

  right: 29px;
  top: 33px;

  content: "";
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}

.offers .icon-3 {
  position: absolute;
  width: 78px;
  height: 62px;

  right: 32px;
  top: 31px;

  content: "";
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}

.offers .icon-4 {
  position: absolute;
  width: 59px;
  height: 72px;

  right: 46px;
  top: 26px;

  content: "";
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
}

.offers .icon-5 {
  position: absolute;
  width: 78px;
  height: 63px;

  right: 32px;
  top: 32px;

  content: "";
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
}

.offers .button {
  position: absolute;
  left: 24px;
  top: 62px;

  min-width: 135px;
  min-height: 38px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #ffffff;
  text-align: center;

  padding: 10px 10px;

  background-color: rgba(0, 0, 0, 0.10);
  
}

.offers .button:hover {
  background-color: rgba(0, 0, 0, 0.20);
}

.offers .button:active {
  background-color: rgba(0, 0, 0, 0.30);
}

.offers-down {
  display: flex;
  margin-bottom: 33px;
}

.offers-down li {
  margin-left: 20px;
}
.materials .new {
  top: 0;
  right: 0;
}
/* Слайдер */
.slider {
  position: relative;
  width: 620px;
  height: 266px;

  background-image: url(../img/slider.jpg);
  background-repeat: no-repeat;
}

.slider .button-red {
  position: absolute;
  min-width: 195px;
  min-height: 38px;
  left: 26px;
  top: 206px;
}

li.materials,
li.delivery {
  background-color: #ffbf47;
}

li.instrument {
  background-color: #3bbce3;
}

li.machinery {
  background-color: #dc91d8;
}

li.discounts {
  background-color: #8ed78f;
}

/* Популярные товары */

.catalog-popular {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
 .popular-goods-title,
.popular-manufacturers-title {
  display: flex;
  align-items: center;
  padding-left: 27px;

  margin-bottom: 20px;
  min-height: 89px;

  color: #32425c;

  background-color: #f9f5f0;
}

.popular-goods-title a {
  width: 253px;
  margin-left: 372px;
} 

/* Популярные производители */
.popular-manufacturers-title a {
  width: 253px;
  margin-left: 268px;
}

.manufacturers-list {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 65px;
}

.manufacturers-list li {
  width: 220px;
  min-height: 145px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bosсh {
  background-image: url(../img/bosch.png);
}

.makita {
  background-image: url(../img/makita.png);
}

.dewalt {
  background-image: url(../img/dewalt.png);
}

.interskol {
  background-image: url(../img/interskol.png);
}

.hitachi {
  background-image: url(../img/hitachi.png);
}

.lg {
  background-image: url(../img/lg.png);
}

.aeg {
  background-image: url(../img/aeg.png);
}

.metabo {
  background-image: url(../img/metabo.png);
}


.manufacturers-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-list li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* Секция Сервисы */
.servises {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f8f9;

  margin-bottom: 78px;
  padding-top: 65px;
}

.about-servises {
  width: 398px;
  margin-bottom: 70px;
}

.about-servises h2 {
  margin-bottom: 28px;
}


.servises-list {
  margin-right: 80px;
  margin-bottom: 100px;

  font-size: 21px;
  font-weight: 600;
  line-height: 30px;

}

.servises-list li {
  width: 240px;
  min-height: 61px;
  box-shadow: 0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
  background-color: #32425c;

  padding-left: 21px;
  padding-top: 13px;

  color: #ffffff;

  cursor: pointer;
}
.servises-list li:hover {
  background-color: #293449;
}
.servises-list li:focus {
  background-color: #ffffff;
  color: #32425c;
}
.delivery {
  width: 275px;
}

.delivery h2 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-top: -2px;
  margin-bottom: 26px;
}

.our-servises {
  position: relative;
  display: flex;

}
.our-servises:after {
  position: absolute;
  width: 10px;
  height: 279px;
  left: 231px;
  bottom: 44px;

  content: " ";
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
}

.our-servises .track {
  position: absolute;
  top: 22px;
  left: 468px;
}

/* Секция "О компании" */
.contacts-wrapper {
  position: relative;
  display: flex;

  margin-bottom: 84px;
}

.about-company {
  display: block;
  min-width: 520px;
}

.about-company .transport {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 36px;
}

.transport li {
  margin-top: 20px;
  margin-left: 35px;
}

.transport .dash {
  position: relative;

}
.transport .dash::before {
  position: absolute;
  content: "";
  top: 11px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-company p {
  margin-top: 26px;
}

.contacts {
  margin-left: 119px;
}

.contacts h2 {
  margin-bottom: 27px;
}

.contacts a {
  width: 300px;
}


.about-company a {
  width: 220px;
}

.contacts .map {
  margin: 32px 0;
  
}

/* -------------------------------------------Стилизация catalog.html------------------------------------------------------ */
.main-header-catalog {
  padding-bottom: 60px;
  margin-bottom: 23px;
  background-color: #f2f6f8;
}

.account {
  /* display: none; */
  position: absolute;
  z-index: 3;
  right: 0px;
  top: 45px;

  width: 300px;
}


.user-name:hover path {
  fill: #32425c;
}

.user-name:active path {
  fill: #c5c5c5;
}

.user-name:active {
  color: #c5c5c5;
}

.account a:hover {
  color: red;
}

.account a:active {
  color: #c5c5c5;
}

.account ul {
  display: flex;
  flex-wrap: wrap;
}

.my-orders,
.personal-account {
  margin-right: 15px;
  margin-left: 18px;
  text-decoration: underline;
}

.account .user-name {
  position: relative;
  background-color: #ffffff;

  font-size: 21px;
  min-width: 299px;
  min-height: 45px;
  padding-top: 12px;
  padding-left: 45px;

  margin-bottom: 7px;

}

.user-name .name {
  position: absolute;
  left: 12px;
  top: 14px;
}

.user-name .logout {
  position: absolute;
  right: 11px;
  top: 15px;
}

.account a {
  font-size: 16px;
  color: #32425c;
}

.account .point {
  position: absolute;
top: 62px;
left: 107px;

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
  margin-right: 13px;
  margin-bottom: 6px;
}

/* Хлебные крошки  */

.breadcrumbs-style {
  margin-bottom: 20px;
}

.breadcrumbs {
  /* position: relative; */
  display: flex;
  


  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

}

.breadcrumbs-link {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs .index {
position: relative;
margin-right: 54px;
}
.breadcrumbs .index::before {
  position: absolute;
  content: "";
  left: -2px;
  top: 1;
  width: 14px;
  height: 12px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-link::before {
  position: absolute;
  content: "\00a0";
  left: -56px;
  width: 14px;
  height: 12px;
  margin-left: 30px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

/* Заголовок Перфораторы */
.perforator-title {
  min-height: 89px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  padding-left: 27px;
  padding-top: 30px;
  margin-bottom: 20px;

  color: #32425c;
  background-color: #f2f6f8;
}

.main-columns {
  display: flex;
}

/* Блок с ценой */

.input-price form {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.input-price input {
  width: 95px;
  min-height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;

  text-align: center;
}

/* Фильтр выбора призводителя и питания */

legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.fieldset-style {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.fieldset-style legend {
  margin-bottom: 12px;
}

.fieldset-style .button {
  margin-top: 80px;
}



.range-options .filter {
  width: 220px;
  min-height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;

  padding-top: 10px;
  padding-left: 18px;
  margin-bottom: 11px;

}

.range-options .price {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 14px;
}

.range-options .slider-price {
  width: 220px;
  min-height: 80px;
  background-color: #f7f3ec;
  border-radius: 3px;

  margin-bottom: 10px;
}

.manufacturers,
.power {
  position: relative;
  display: flex;
}

.pseudocheckbox {
  margin-left: 34px;
  cursor: pointer;
}

.manufacturers {
  border-bottom: 1px solid #e5e5e5;
}

.manufacturers .pseudocheckbox::before {
  position: absolute;

  content: "";
  width: 26px;
  height: 23px;

  left: 0px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.manufacturers input[type=checkbox]:checked+.pseudocheckbox::before {
  content: "";
  width: 26px;
  height: 23px;

  left: 0px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.power .pseudocheckbox::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;

  left: 0;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.power input[type=radio]:checked+.pseudocheckbox::before {
  content: "";
  width: 25px;
  height: 25px;

  left: 0px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}
.range-options input[type=submit] {
  width: 140px;
  min-height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
}
.range-options label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.range-options input[type=checkbox],
input[type=radio] {
  display: none;
}



/* Блок сортировки */
.sorting-block {
  display: flex;
  align-items: center;

  min-height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;

  margin-left: 20px;
  margin-bottom: 20px;
}


.sorting-link {
  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
}

.sorting-link:hover {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.sorting-link:focus {
  color: #ee3643;
  border-bottom: none;
}

.sorting-up path,
.sorting-down path {
  fill: #c5c5c5;
}

.sorting-up {
  margin-right: 20px;
}

.sorting-up:hover path,
.sorting-down:hover path {
  fill: #000000;
}

.sorting-up:focus path,
.sorting-down:focus path {
  fill: #ee3643;
}

.sorting {
  margin-right: 139px;
  margin-left: 19px;
}

.sorting-list {
  width: 354px;
  margin-right: 46px;

  display: flex;
  justify-content: space-between;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #b2b2b2;
}

/* Стилизация кнопок товара */

.catalog-buttons {
  /* display: none; */
  position: absolute;
  z-index: 1;

  width: 218px;
  height: 164px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  padding-top: 43px;

  background-color: #ffffff;
}

.buy-item,
.to-bookmarks {
  width: 135px;
  height: 38px;
  border-radius: 3px;


  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;

}

.buy-item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;

  margin-bottom: 8px;
}
.buy-item::before {
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;

  content: " ";
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}
.buy-item:hover::before {
  opacity: 1;
}

.buy-item:hover {
  background-color: #5fbb2d;
}

.buy-item:active {
  background-color: #518534;
}

.to-bookmarks {
  border: solid 3px #63a63e;

  color: #32425c;
}

.to-bookmarks:hover {
  border: solid 3px #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
}

/* Стилизация карточки товара */

.catalog-popular {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}
 .popular-goods-title,
.popular-manufacturers-title {
  display: flex;
  align-items: center;
  padding-left: 27px;

  margin-bottom: 20px;
  min-height: 89px;

  color: #32425c;

  background-color: #f9f5f0;
}

.popular-goods-title a {
  width: 253px;
  margin-left: 372px;
} 

.catalog-list,
.popular-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 42px;
}
.popular-list {
  justify-content: space-between;
  margin-bottom: 22px;
}

.catalog-list li,
.popular-list li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-item,
.popular-item {
  position: relative;
  display: block;
  min-width: 219px;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;

  text-align: center;
}
.catalog-item {
  margin-left: 20px;
  margin-bottom: 21px;
}

.catalog-item:hover,
.popular-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.catalog-item img,
.popular-item img {
  width: 100%;
  margin-bottom: 5px;
}

.catalog-title,
.catalog-model {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-model {
  margin-bottom: 12px;
}

.discount {
  color: #999999;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.catalog-price {
  display: block;

  width: 141px;
  height: 37px;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  margin-left: 43px;
  margin-bottom: 20px;

  text-align: left;
  padding-left: 34px;
  padding-top: 12px;

  color: #ffffff;

}


.new {
  width: 60px;
  height: 59px;

  position: absolute;
  z-index: 2;
  top: -1px;
  right: -1px;
  background-image: url(../img/new.png);
  font-size: 0;
}

/* Стилизация пагинации */
.pagination-list {
  display: flex;
  margin-bottom: 63px;
  margin-left: 10px;
}

.pagination-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 15px;

  border: solid 1px #e5e5e5;
  border-radius: 2px;
  margin-left: 9px;
  color: #000000;
}

.pagination-list .next a {
  padding: 10px 31px;
}

.pagination-list a:hover {
  border: solid 1px #bdc6ca;
}

.pagination-list a:active {
  border: solid 1px #ee3643;
}

.pagination-list a:focus {
  background-color: #ee3643;
}

/* Секция "О перфораторах" */
.about-perforators {
  background-color: #f2f6f8;
  min-height: 261px;
}

.about-perforators h2 {
  padding-top: 68px;
  padding-bottom: 27px;
}

/* Футер ----------------------------------------*/

.footer-light {
  min-height: 193px;
  background-color: #32425c;
}

.light,
.dark {
  display: flex;
}

.footer-left {
  margin-right: 68px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;

  background-image: url(../img/logo-technomart.svg);
  background-repeat: no-repeat;
  background-position: 40px 21px;

  margin-bottom: 28px;
}

.address-down {
  margin-bottom: 49px;
  margin-left: 2px;
}

.address-down p,
.address-down a,
.footer-menu-above a,
.footer-menu-below a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f3f7f9;
  background-color: inherit;

}

.footer-menu .footer-menu-above,
.footer-menu-below {
  display: flex;
  flex-wrap: wrap;

}

.footer-menu {
  margin-top: 39px;
}

.footer-menu-above {
  margin-left: 9px;
}

.footer-menu-below {
  margin-top: 29px;
  margin-left: 32px;
}

.footer-menu li {
  margin-left: 59px;
}

.footer-menu li:hover {
  text-decoration: underline;
}

.footer-menu li:active {
  opacity: 0.5;
}

.footer-menu-below a {
  color: #ffd180;
}

.footer-dark {
  min-height: 107px;
  background-color: #293449;
}

.copyright {
  margin-right: 109px;
  margin-top: 38px;
}

/* Социальные сети */
.footer-social ul {
  display: flex;
  margin-top: 35px;
  margin-left: 54px;
}

.footer-social li {
  width: 42px;
  min-height: 42px;
  border-radius: 50%;
  background-color: #212a3a;

  margin-right: 3px;
}

.footer-social li:hover {
  background-color: #ee3643;
}

.social-btn-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-insta {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-dark p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #f3f7f9;
  background-color: inherit;

  margin: 0;
}

.footer-developed,
.feedback-email {
  margin-top: 37px;

  line-height: 18px;
}

.feedback-email {
  margin-left: 116px;
  margin-right: 52px;
}

.footer-developed a,
.feedback-email a {
  font-size: 16px;
  color: #ffd180;
}

.footer-developed a:hover,
.feedback-email a:hover {
  text-decoration: underline;
}
.footer-developed a:active,
.feedback-email a:active {
  color: #ee3643;
} 

/* Всплывающие окна----------------------------------------------------------------------------------------------------- */

/* Всплывающее окно "Товар добавлен в корзину"  */
.order-status {
  display: none;
  position: fixed;
  top: 412px;
  left: 451px;
  z-index: 3;

  width: 620px;
  min-height: 282px;

  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;

  background-color: #ffffff;
}

.order-white {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 163px;
}

.icon-mark {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 82px;
  top: 47px;

  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
}

.order-gray {
  background-color: #f1f1f1;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 112px;
}

.order-status p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  margin-left: 56px;
}

.checkout {
  width: 220px;
}

.continue-shopping {
  width: 220px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  background-color: #ffffff;

  margin-left: 20px;
  padding: 10px 0;

  cursor: pointer;
}


/* Всплывающее окно "Форма обратной связи" */
.modal-feedback {
  display: none;
  position: fixed;
  width: 620px;
  min-height: 430px;

  bottom: 202px;
  left: 50%;
  z-index: 5;

  margin-left: -310px;
  padding: 0 80px;
  padding-top: 47px;

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
  background-color: #ffffff;

}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-block {
  display: flex;
  flex-direction: column;
}
.feedback-textarea {
  width: 460px;
}

.modal-feedback input,
.modal-feedback textarea {
  border: solid 2px #dee3e4;
  border-radius: 2px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 14px;
  margin-bottom: 22px;
}

.feedback-form input {
  width: 220px;
  min-height: 36px;
}

.feedback-form label {
  line-height: 18px;
  margin-bottom: 10px;

}

.feedback-send {
  width: 460px;
  margin-top: 54px;
}

/* Всплывающее окно "Карта" */
.modal-map {
  display: none;
  position: absolute;
  width: 940px;
  height: 446px;
  z-index: 4;

  bottom: 350px;
  left: 50%;
  margin-left: -470px;

  background-color: #ffffff;

  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.5);
}

/* Крестик */

.modal-close {
  position: absolute;
  top: 10px;
  right: 6px;

  width: 21px;
  height: 21px;

  font-size: 0;
  border: 0;

  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  top: 9px;
  left: -3px;
  width: 26px;
  height: 4px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
